<div class="debug">
	<span>Факультет: {{ model.faculty }} Форма: {{ model.department }} Курс: {{ model.course }} Группа: {{ model.group }}</span>
</div>

<div class="filter">
  <div class="filter-body">
  	<div class="container">
			<div class="row">
			  <div class="col-md-3">
					<select class="form-control"
			    	ng-model="model.faculty"
						ng-options="faculty.id as faculty.title for faculty in data.faculties"
						ng-disabled="data.faculties.length == 0"></select>
			  </div>

			  <div class="col-md-3">
					<select class="form-control"
			    	ng-model="model.department"
						ng-options="department.id as department.title for department in data.departments"
						ng-disabled="data.departments.length == 0"></select>
			  </div>

			  <div class="col-md-3">
		  		<div class="btn-group btn-group-justified">
		        <label class="btn btn-default"
		        	ng-repeat="course in data.courses"
		        	ng-class="{active:course.id==$parent.model.course}">
		            <input type="radio" name="course" ng-model="$parent.model.course" value="{{course.id}}"/> {{ course.title }}
		        </label>
		    	</div>
			  </div>

			  <div class="col-md-3">
			  	<select class="form-control" 
			  		ng-model="model.group"
						ng-options="group.id as group.title for group in data.groups"
						ng-disabled="data.groups.length == 0">
					</select>
			  </div>
			</div>
		</div>
	</div>
</div>

<div class="container">
  
  <!--
  <button class="btn btn-primary" 
  	ng-disabled="model.group == null"
		ng-click="loadGroupSchedule()">Показать</button>
	-->
		
	<div class="row">
	  <div class="col-md-12">
	  	<div class="panel panel-default">
				<div class="panel-body">
				<h5 class="pull-left" ng-show="data.schedule.length == 0">Нет расписания для отображения</h5>
				<h5 class="pull-left" ng-hide="data.schedule.length == 0">Расписание для <span ng-bind="getGroupName()"></span></h5>
				<div class="btn-group pull-right">
			    <button type="button" class="btn btn-default"
			    	ng-class="{active: isLayout('list')}"
			    	ng-click="setLayout('list')">
			    	<span class="glyphicon glyphicon-menu-hamburger"></span>
			    </button>
			    <button type="button" class="btn btn-default"
			    	ng-class="{active: isLayout('grid')}"
			    	ng-click="setLayout('grid')">
			    	<span class="glyphicon glyphicon-th"></span>
			    </button>
			  </div>
			  <button type="button" class="btn btn-default pull-right" ng-show="model.group" ng-click="saveGroup()">Это моя группа</button>
			</div>
	  </div>
	</div>
	
	<div class="row">
		<div class="col-md-12" ng-class="{ 'grid' : isLayout('grid') , 'list' : isLayout('list') }">
      <div ng-repeat="day in data.schedule.days" ng-class="{ 'col-md-4' : isLayout('grid')}">
      	<div class="panel" ng-class="isToday(day.date) ? 'panel-success' : 'panel-default' ">
      		<div class="panel-heading">{{ day.date | dayFilter }} / {{ day.date | dateFilter }}</div>
      		<div class="panel-body">
      			{{ day }}
      		</div>
      	</div>
      </div>
    </div>
  </div>
</div>