<form >
    <div class="row">
      <div class="col-sm-3">Test 1 - Bootstrap</div>
      <div class="col-sm-9">
          <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default">
                  <input type="radio" id="q156" name="quality[25]" value="1" /> 1
              </label> 
              <label class="btn btn-default">
                  <input type="radio" id="q157" name="quality[25]" value="2" /> 2
              </label> 
              <label class="btn btn-default">
                  <input type="radio" id="q158" name="quality[25]" value="3" /> 3
              </label> 
              <label class="btn btn-default">
                  <input type="radio" id="q159" name="quality[25]" value="4" /> 4
              </label> 
              <label class="btn btn-default active">
                  <input type="radio" id="q160" name="quality[25]" checked="checked" value="5" /> 5
              </label>
          </div>
      </div>
  </div>
</form>

{{ text }}